/*=======================================
*            global elements            *
=======================================*/



/*==============================
*            header            *
==============================*/

.header-title {
    color: #222;
}

.header-nav-link {
    color: #222;
}



/*============================
*            form            *
============================*/

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
}

.form-input-title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.form-input,
textarea {
    border: 1px #222 solid;
    font-size: 1rem;
    padding: 5px;
    max-width: 100%;
    min-width: 50%;
    max-height: 200px;
    min-height: 30px;
    margin-bottom: 1rem;
    transition: all 300ms;
}

.form-button {
    padding: 1rem 2rem;
    margin: 0 auto;
    background: #fff;
    border: 1px #222 solid;
    font-size: 1rem;
    transition: all 300ms;
}

.form-input:hover,
.form-input:focus, 
textarea:hover, 
textarea:focus {
    background: #222;
    color: #fff;
    outline: none;
}

.form-button:hover {
    background: #222;
    color: #fff;
}

/*==============================
*            footer            *
==============================*/

footer {
    border-top: 1px #222 solid;
}